<header style="text-align:center; background:#004080; color:white; width:100%; padding:20px 10px; position:fixed; top:0; left:0;">
  <h1 style="margin:0; font-size:28px;">
    JSPM's Jayawantrao Sawant College of Engineering (JSCOE)
  </h1>
</header>